# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Next.js build
.next/
out/

# Vercel
.vercel/

# Testing
coverage/

# Env files
.env*
!.env.example

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Python backend
backend/venv/
backend/_pycache__/
*.pyc

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
